/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY CSS */

:root {
  --text: rgb(245, 245, 242);
  --bg: #1a1e2d;
  --green: #a5ea9b;
  --pink: #ff61d8;
  --blue: #569cfa;
  --orange: #ffcc81;
  --cyan: #7ed1e2;
}

body {
    font-family: 'Inconsolata Awesome', 'Lucida Console', monospace;
    font-size: 24px;
    line-height: 1.35;
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    flex-direction: column;
    height: 100vh;
}
sup { 
  vertical-align: super;
  font-size: smaller;
}
a {
    color: var(--green);
}
h1, h2, h3, h4, h5, p {
    margin-bottom: 1em;
}
h1 + h2, h1 + h3, h1 + h5 {
    margin-top: -1.5em !important; 
    opacity: .66;
}
h1, h2, h3, h4, h5 {
    color: var(--pink);
    font-weight: 900;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.55em;
}
h3 {
    font-size: 1.35em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1.1em;
}
footer {
  padding: 2em 4em;
  border-bottom: 20px solid var(--cyan);
}
main {
  padding: 2em 2em 1em 2em;
}
main section:first-child h1, main section:first-child h2, main section:first-child h3,
main section:first-child h4, main section:first-child h5 {
    margin-top: -.75em;
}
main section, main article {
    padding: 2em;
}

main {
  flex-grow: 1;
}

main article {
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
}

main article p {
  margin-left: 2em;
  margin-right: 2em;
}

section.thoughts ul {
    display: grid;
    grid-template-columns: repeat( auto-fill, 180px );
    column-gap: 1rem;
    row-gap: 1rem;
}

section.thoughts ul li {
  text-align: center;
  border-top: 3px solid var(--cyan);
  background-color: rgba(255, 255, 255, .1);
  font-size: .8em;
  padding: 1em;
  grid-column: auto / span 2;
}

section.thoughts ul li.big {
  grid-column: auto / span 4;
  grid-row: auto / span 2;
  font-size: 1.3em;
}

section.thoughts ul li a {
  color: var(--orange);
}

footer h2 {
  opacity: 1;
  color: var(--orange);
}

main h3.flavor {
  background-color: rgba(255, 255, 255, .1);
  color: var(--orange);
  padding: .2em;
  border-bottom: 5px solid var(--pink);
}
