/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY CSS */


body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 1.35;
    color: rgb(17, 17, 17);
    background-color: rgb(245, 245, 242);
    display: flex;
    flex-direction: column;
    height: 100vh;
}
sup { 
  vertical-align: super;
  font-size: smaller;
}
a {
    color: hsl(120, 46%, 59%);
}
h1, h2, h3, h4, h5, p {
    margin-bottom: 1em;
}
h1 + h2, h1 + h3, h1 + h5 {
    margin-top: -1.5em !important; 
    opacity: .66;
}
h1, h2, h3, h4, h5 {
    color: rgb(245, 245, 242);
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.55em;
}
h3 {
    font-size: 1.35em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1.1em;
}
footer {
  padding: 3em;
  background-color: rgb(17, 17, 0);
  border-bottom: 20px solid hsl(120, 46%, 59%);
}
main {
  padding: 2em;
}
main section:first-child h1, main section:first-child h2, main section:first-child h3,
main section:first-child h4, main section:first-child h5 {
    margin-top: -.75em;
}
main section, main article {
    padding: 2em;
}

main {
  flex-grow: 1;
  background-image:
    linear-gradient(
      to  top, 
      rgb(245, 245, 242),
      rgb(225, 225, 225)
    );
}

main article {
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
}

main article p {
  margin-left: 2em;
  margin-right: 2em;
}

section.thoughts ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

section.thoughts ul li {
  font-size: .8em;
  max-width: 12em;
  padding: 1em;
  margin: .7em;
  background-color: rgb(68, 68, 68);
  color: rgba(255, 255, 255, 0.9);
  border: 5px solid hsl(120, 46%, 59%);
}

section.thoughts ul li {
  clip-path: polygon(4% 2%, 96% 0%, 100% 98%, 2% 100%);
}
section.thoughts ul li:nth-child(2n) {
  clip-path: polygon(0% 0%, 95% 2%, 93% 98%, 5% 96%);
}
section.thoughts ul li:nth-child(3n) {
  clip-path: polygon(0% 4%, 100% 2%, 94% 100%, 0% 97%);
}

main h2 {
  color: hsl(120, 46%, 59%);
}
main h3.flavor {
  background-color: hsl(120, 46%, 59%);
  color: #FFFFEe;
  padding: .3em;
  clip-path: inset(0 0 round 15px 0)
}
